@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.5s;
  scrollbar-width: auto;
}

:root {
  --background: #fffaee;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: 8px;
  scrollbar-color: var(--foreground);
  scrollbar-track-color: #ff79c8;
}

/* For WebKit Browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #357abd;
}

.custom-dots li {
  margin: 0 5px;
}

.custom-dots li button {
  display: none;
}

.custom-dots li div {
  transition: all 0.3s ease;
}

.custom-dots li.slick-active div {
  transform: scale(1.2);
  background: #ff79c8 !important;
}
